body{
	transition: .5s;
}

.menu-button {
  position: fixed;
  top: 10px;
  left:40px;
  transition: .25s;
  z-index: 20;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button i{
	position:absolute;
	color:#173b6b;
}


.left-sidenav {
    background-color: #528ae0;
    position: fixed;
    height: 100%;
    width: 300px;
    margin-left: -300px;
    overflow: auto;
    top:0;
    padding-top: 80px;
    transition: .8s;
    z-index: 15;
}

.sub-menu {
	display:none;
}

.left-navmenu li i{
	color:#173b6b;
}

.left-sidenav.show-menu {
    margin-left: 0;
    box-shadow: 6px 0px 10px 1px #605f6d;	
}

.left-navmenu, .right-navmenu{
	font-family: Raleway;
	font-size: 1.5em;

}

.left-navmenu a, .left-navmenu a:visited,.right-navmenu a, .right-navmenu a:visited{
	text-decoration: none;
	color:#173b6b;
}

.left-navmenu a:hover, .right-navmenu a:hover{
	cursor: pointer;
	text-decoration: none;
	transition: .5s;
	color:white;
}

.left-navmenu li ,.right-navmenu li{
	list-style: none;
	padding: 7px 0;
}

.menu-arrow:hover {
	cursor: pointer;
	color: white;
}

.Content{
	margin:100px 150px 0;
	font-family: Raleway;
	z-index: 5;
}

.right-sidenav {
	position: fixed;
    right: -215px;
	padding: 0 50px 0 0;
    background-color: #528ae0;
    height: 100%;
    width: 180px;
    overflow: auto;
    top:0;
    padding-top: 80px;
    transition: .8s;
    z-index: 15;
    box-shadow: -2px 0px 10px 1px #999999;	
}

.right-sidenav.show-menu {
    right: 0px;
	box-shadow: -6px 0px 10px 1px #999999;
}

#right-menu-button{
	margin: 2px;
    font-size: 1em;
    position: fixed;
    color: #173b6b;
    top: 49%;
}

.brief-hidden{
	display:none;
	transition:	1s;
	font-size:70%;
}

.brief-show{
	display:block;
	transition: 1s;
	font-size:75%;
}	


.slideshow-container {
  max-width: 500px;
  max-height:500px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 95%;
  text-align: center;
  background-color:grey;
}

.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.heading {
	padding:0px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size:50px;
	position:;
	height:75px;
	margin-top:-50px;
	background:;
	width:100%;
	border-bottom:2px black solid;
	margin-bottom:0px;
	background-color:lightgrey;
	
}

#text{
	margin-left:200px;
	color:black;
	padding-top:10px;
	margin-bottom:0px;
	width:30%;
}
